<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.workshop.sucre">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/frit_launcher"
        android:label="Fritly"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity   android:name=".MainActivity"
                    android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".FastFood"
            android:label="Choisissez votre Fastfood"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity android:name=".Produits"
            android:label="Choisissez vos produits"
            android:screenOrientation="portrait"
            android:parentActivityName=".FastFood">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FastFood" />
        </activity>
    </application>


</manifest>